<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ART Crawl Exhibit</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="sort-options">
        <button>Last Name</button>
        <button>Major</button>
        <button>Title</button>
    </div>
    <div id="grid">
        <% data.forEach(item => { %>
        <div class="grid-item"></div>
        <% }) %>
    </div>

</body>

</html>