<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ART Crawl Exhibit</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body></body>
<p>The first person's major is <%=data[0].Major%>.</p>
</body>

</html>