:root {
    --grid-items: 50px;
    --grid-items-xl: 80px;
}

body {
    font-family: 'Amiri', serif;
  background:  	#FFFAFA
}

/*
label.btn {
    color: var(--light);
}
*/
#metadata {
    position: absolute;
    left: 30px;
    top: 80px;
    width: 45%;
    height: auto;
    box-sizing: border-box;
    
    padding: 1rem;
    z-index: 20;
    opacity: 0;
    /* transform: translate3d(-100%, 0, 0); */
    transition: opacity 0.25s ease-in-out; /*transform 0.25s ease-in-out;*/
  }

  #metadata.active {
    opacity: 1;
    /*transform: translate3d(0, 0, 0);*/
  }

#metadata-data {
  display: flex;
  flex-direction: row;
}

#metadata-card {
  display: flex;
  flex-direction: column;
}

  #metadata-img {
    width: auto;
    height: auto;
  }

/*
*,
::before,
::after {
  box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0 25% 0;
}

.sort-options {
    display: flex;
    height: 10%;
}

.grid {
    width: 100vw;
}
*/
.container {
    width: 50%;
  margin-left: 50%;
}

figure {
    margin-bottom: 0;
}

figure:hover {
    box-sizing: border-box;
    border: 3px solid var(--yellow);
    z-index: 1;
}

.highlight {
      box-sizing: border-box;
    border: 3px solid var(--yellow);
    z-index: 1;
}

.sizer-element {
    width: var(--grid-items);
    margin-left: 0;
}

img {
    height: var(--grid-items);
    width: var(--grid-items);
}

@media (min-width: 1800px) {

  
  .sizer-element {
        width: var(--grid-items-xl);
        margin-left: 0;
    }
    
    img {
        height: var(--grid-items-xl);
        width: var(--grid-items-xl);
    }
}
