:root {
    --colNum: 8;
}

body {
    height: 100vh;
    margin: 0;
}

#grid {
    display: grid;
    grid-template-columns: repeat(var(--colNum), 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.sort-options {
    display: flex;
}

.grid-item {
    background: blue;
    height: 127px;
}