*,
::before,
::after {
  box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
}

.sort-options {
    display: flex;
    height: 10%;
}

.art-crawl-item {
    
}

figure {
    margin: 0;
}

.sizer-element {
    height: 10px;
    width: 10px;
    margin-left: 0;
}

img {
    height: 50px;
    width: 50px;
}